@font-face {
    font-family: myfont;
    src: url('../fonts/UVNDinhHon.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1.slogan {
    font-family:myfont;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: bolder;
}
.row {position: relative;}
.bg_thungo {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/thungo.jpg');
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;               /* Good browsers */
}
 .item_left {
    color: #000;
    padding: 0px 15px 25px 15px;
     text-align: justify;
}

.thungo {
    margin-top: 30px !important;
}

.section-content {
    padding:30px 0 !important;
}

h1.letter {
    font-family: myfont;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.team-content a h3:hover {
    color:#F37820 !important;
}

img.img_thungo  { width: 100%;}

.team-element img {opacity: 0.4;}
.team-content h3 strong{font-family: myfont; text-transform: capitalize; !important; font-size: 33px;}

.footer-v1 .footer {
    padding: 40px 0;
    background: #272727;
}

.footer-logo {
    margin: 17px 0 20px;
}

.footer-v1 .footer p {
    color: #eee;
}
.footer-v1 .footer-socials {
    margin-top: 12px;
    text-align: right;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.footer-v1 .footer-socials li a {
    color: #777;
    font-size: 16px;
}
.footer-v1 .copyright a {
    margin: 0 2px;
}
.link-list li:first-child {
    border-top: none !important;
}
.footer-v1 address, .footer-v1 .link-list a, .footer-v1 .link-list i {
    color: #eee;
}
.link-list a {
    color: #eee;
    padding: 6px 0px;
    display: inline-block;
}

.footer-v1 .footer h2 {
    color: #eee;
    font-size: 18px;
    font-weight: 200;
    margin-bottom:10px;
}
.headline h2, .headline h3, .headline h4 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #F37820;
}
.contact_form .contact_form_title {
    background: url(../images/247_ic.png) top left no-repeat;
    border-bottom: 1px solid #A4A3A3;
    line-height: 42px;
    height: 42px;
    padding-left: 48px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.contact_form .Contact_Info {
    float: left;
    padding-top: 20px;
}

.contact_form .contact_form_submit ul li input {
    border: 1px solid #A4A3A3;
    height: 39px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding-left: 10px;
    border-radius: 5px;
}
.contact_form .contact_form_submit ul li {
    float: left;
}

.contact_form .contact_form_submit ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -15px;
}

.send_messenger_title {margin-bottom: 20px;}

.contact_form .contact_form_submit ul li textarea {
    float: left;
    border: 1px solid #A4A3A3;
    width: 100%;
    height: 140px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding-left: 10px;
    border-radius: 5px;
}

.footer_bottom_holder {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
.footer_bottom_holder, #lang_sel_footer {
    background-color: #313131;
}

.footer_bottom {
    display: table-cell;
    font-size: 12px;
    line-height: 22px;
    height: 53px;
    width: 1%;
    vertical-align: middle;
}

.textwidget {
    text-align: center;
}

#courses .container .col-md-3 {

}

#courses .container .col-md-3 h4 {
    font-size: 18px;
    text-align: left;
    min-height: 82px;
    margin-bottom: -10px;
}

#courses .container .col-md-3 h2, #courses .container .col-md-3 p {
    text-align: left;
    padding: 10px 0;
}

#courses .container .col-md-3 p {
    font-size: 14px;
}

#courses .container .col-md-3 a {
    float: right;
    color: #f47c24;
    padding: 20px 0;
}

#courses .container .col-md-3 a:hover {
    color: #666;
}

#courses .container .col-md-3 h4 a {
    padding: 0;
    color: #f47c24;
}

#courses .container .col-md-3 h4 a:hover {
    color: #666;
}

#courses .container .col-md-3 img {
    max-width: 100%;
}

#home-slider {
    position: relative;
    padding: 0;
    height: 303px !important;
    margin-top: -3px;
}

.sl-slider-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sl-slide {
    z-index: 1;
}
.sl-slide, .sl-slides-wrapper, .sl-slide-inner {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}


.bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.bg-img-3 {
    background-image: url(http://onesky.vn/assets/homepage/img/about/aboutus-banner.jpg);
    height: 303px;
}
.slide-caption {
    color: #fff;
    display: table;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: absolute;
    text-align: center;
    top: 145px;
    width: 100%;
    z-index: 11;
}

.slide-caption.box-center .animated {
    font-size: 45px;
    text-transform: uppercase;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.article-content h2{
    font-family: sans-serif;
}

.use_title {text-align: center;}
.use_title .line.big {
    width: 170px;
}
.use_title .line {
    width: 90px;
    background: #dedede;
    height: 1px;
    margin: 5px 15px;
}
.use_title div span {
    display: inline-block;
    color: #7C7C7C;
    text-transform: uppercase;
}
.use_title div {
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.article-content {
    text-align: justify;
    margin-top: -20px;
}
.article-lead {font-size: 30px;}
h1.article-content {font-size: 70px;}
