@font-face {
    font-family: myfont;
    src: url('../fonts/UVNDinhHon.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1.slogan {
    font-family: myfont;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: bolder;
}

.row {
    position: relative;
}

.bg_thungo {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/thungo.jpg');
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5; /* Netscape */
    -khtml-opacity: 0.5; /* Safari 1.x */
    opacity: 0.5; /* Good browsers */
}

.bg_aboutus {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/bg_aboutus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5; /* Netscape */
    -khtml-opacity: 0.5; /* Safari 1.x */
    opacity: 0.5; /* Good browsers */
    zoom: 2;
}

.bg_hoatchat {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../images/bg_hoatchat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */
    filter: alpha(opacity=50); /* IE 5-7 */
    -moz-opacity: 0.5; /* Netscape */
    -khtml-opacity: 0.5; /* Safari 1.x */
    opacity: 0.5; /* Good browsers */
}

.col-md-3 .giatri {
    color: #000;
    padding: 9px 15px 5px 0px;
    text-align: justify;
    min-height: 162px;
}

.thungo {
    margin-top: 30px !important;
    margin-left: 15px;
}

.section-content {
    padding: 0px 0 !important;
}

h1.letter {
    font-family: myfont;
    text-transform: capitalize;
    margin-top: 5px;
}

.team-content a h3:hover {
    color: #F37820 !important;
}

img.img_thungo {
    width: 100%;
}

.team-element img {
    opacity: 0.4;
}

.team-content h3 strong {
    font-family: myfont;
    text-transform: capitalize;
!important;
    font-size: 33px;
}

.footer-v1 .footer {
    padding: 40px 0;
    background: #272727;
}

.footer-logo {
    margin: 17px 0 20px;
}

.footer-v1 .footer p {
    color: #eee;
}

.footer-v1 .footer-socials {
    margin-top: 12px;
    text-align: right;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.footer-v1 .footer-socials li a {
    color: #777;
    font-size: 16px;
}

.footer-v1 .copyright a {
    margin: 0 2px;
}

.link-list li:first-child {
    border-top: none !important;
}

.footer-v1 address, .footer-v1 .link-list a, .footer-v1 .link-list i {
    color: #eee;
    line-height: 40px;
}

.link-list a {
    color: #eee;
    padding: 6px 0px;
    display: inline-block;
}

.footer-v1 .footer h2 {
    color: #f37820;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 10px;
}

.headline h2, .headline h3, .headline h4 {
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid #565656;
}

.contact_form .contact_form_title {
    background: url(../images/247_ic.png) top left no-repeat;
    border-bottom: 1px solid #A4A3A3;
    line-height: 42px;
    height: 42px;
    padding-left: 48px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.contact_form .Contact_Info {
    float: left;
    padding-top: 20px;
    line-height: 36px;
    margin-bottom: 13px;
}

.contact_form .contact_form_submit ul li input {
    border: 1px solid #A4A3A3;
    height: 39px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding-left: 10px;
    border-radius: 5px;
}

.contact_form .contact_form_submit ul li {
    float: left;
}

.contact_form .contact_form_submit ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -15px;
}

.send_messenger_title {
    margin-bottom: 10px;
    margin-top: 20px;
    color: #f37820;
    font-weight: bold;
    font-size: 17px;
}

.contact_title_com {
    color: #f37820;
}

.contact_form .contact_form_submit ul li textarea {
    float: left;
    border: 1px solid #A4A3A3;
    width: 100%;
    height: 140px;
    margin-right: 12px;
    margin-bottom: 12px;
    padding-left: 10px;
    border-radius: 5px;
}

.footer_bottom_holder {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.footer_bottom_holder, #lang_sel_footer {
    background-color: #313131;
    margin-top: -20px;
}

.footer_bottom {
    display: table-cell;
    font-size: 12px;
    line-height: 22px;
    height: 53px;
    width: 1%;
    vertical-align: middle;
}

.textwidget {
    text-align: center;
}

#courses .container .col-md-3 {

}

#courses .container .col-md-3 h4 {
    font-size: 18px;
    text-align: center;
    min-height: 40px;
}

#courses .container .col-md-3 h2, #courses .container .col-md-3 p {
    text-align: justify;
}

#courses .container .col-md-3 p {
    font-size: 14px;
}

#courses .container .col-md-3 a {
    float: right;
    color: #f47c24;
    padding: 0px 0px 10px 0px;
}

#courses .container .col-md-3 a:hover {
    color: #666;
}

#courses .container .col-md-3 h4 a {
    padding: 0;
    color: #f47c24;
}

#courses .container .col-md-3 h4 a:hover {
    color: #666;
}

#courses .container .col-md-3 img {
    max-width: 100%;
}

#home-slider {
    position: relative;
    padding: 0;
    height: 303px !important;
    margin-top: -3px;
}

.sl-slider-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.sl-slide {
    z-index: 1;
}

.sl-slide, .sl-slides-wrapper, .sl-slide-inner {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
}

.bg-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.bg-img-3 {
    background-image: url(http://onesky.vn/assets/homepage/img/about/aboutus-banner.jpg);
    height: 303px;
}

.slide-caption {
    color: #fff;
    display: table;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: absolute;
    text-align: center;
    top: 145px;
    width: 100%;
    z-index: 11;
}

.slide-caption.box-center .animated {
    font-size: 45px;
    text-transform: uppercase;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.article-content h2 {
    font-family: sans-serif;
}

.article-content {
    color: #000;
}

.article-content img {
    max-width: 100% !important;
    height: auto;
    display: block;
}

.use_title {
    text-align: center;
}

.use_title .line.big {
    width: 170px;
}

.use_title .line {
    width: 90px;
    background: #dedede;
    height: 1px;
    margin: 5px 15px;
}

.use_title div span {
    display: inline-block;
    color: #7C7C7C;
    text-transform: uppercase;
}

.use_title div {
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.article-content {
    text-align: justify;
}

.article-lead {
    font-size: 30px;
}

/* background setup */
.background {
    background-repeat: no-repeat;
    /* custom background-position */
    background-position: 50% 50%;
    /* ie8- graceful degradation */
    background-position: 50% 50% !important;
}

.fullscreen,
.content-a {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fullscreen.overflow,
.fullscreen.overflow .content-a {
    height: auto;
    min-height: 100%;
}

/* content centering styles */
.content-a {
    display: table;
}

.content-b {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.not-fullscreen {
    height: 50%;
}

html, body {
    /* give this to all tags from html to .fullscreen */
    height: 100%;
}

i.fa-phone, i.fa-mobile, i.fa-map-marker {
    color: #F37820;
    font-size: 22px;
    margin-right: 10px;
}

i.fa-fax, i.fa-envelope-open {
    color: #F37820;
    font-size: 18px;
    margin-right: 10px;
}

.phone {
    display: table;
}

.phone span {
    display: table-cell;
    vertical-align: middle;
}

.section-title .lead {
    text-align: justify;
}

blockquote {
    background: #f9f9f9;
    border-left: 0px solid #ccc;
    margin: 0.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
    font-size: 20px;
    text-align: justify;
    line-height: 39px;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

.giatri-yhoc {
    font-size: 14px !important;
    font-weight: normal;
}

br {
    content: "";
    margin: 2em;
    display: block;
    font-size: 24%;
}

.social-icon a {
    margin-right: 20px;
    color: #565656;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    /* ...and now for the proper property */
    transition: .5s;
}

.social-icon a:hover {
    color: #eee;
}

.accordion dt {
    margin-top: 10px;
}

.accordion dl,
.accordion-list {
}

.accordion dl:after,
.accordion-list:after {
    content: "";
    display: block;
    height: 1em;
    width: 100%;
}

.accordion dd,
.accordion__panel {
    background-color: #eee;
    font-size: 1em;
    line-height: 1.5em;
    border: 1px solid #ddd;
}

.accordion {
    position: relative;
}

.accordionTitle,
.accordion__Heading {
    background-color: #3C5087;
    text-align: left;
    font-weight: 700;
    padding: 15px;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid #30bb64;
}

.accordionTitle:before,
.accordion__Heading:before {
    margin-right: 10px;
    margin-top: 5px;
    content: "+";
    font-size: 1.5em;
    line-height: 0.5em;
    float: left;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.accordionTitle:hover,
.accordion__Heading:hover {
    background-color: #313E67;
    color: #F37820
}

.accordionTitle:focus {
    color: #F37820;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
    background-color: #313E67;
}

.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.accordionItem {
    height: auto;
    overflow: hidden;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
    margin-bottom: 10px;
}

@media screen and (min-width: 48em) {
    .accordionItem {
        -webkit-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }
}

.accordionItem.is-collapsed {
    max-height: 0;
}

.no-js .accordionItem.is-collapsed {
    max-height: auto;
}

.animateIn {
    -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
    animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}

@keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}

.accordion-text1 {
    clear: both;
    margin: 0px 0px 20px 0px;
}

.portfolio {
    border: 1px solid #ddd;
}

em.lead:hover {
    color: #F37820;
}

#portfolio-wrap .portfolio-item a .hover-items span i {
    color: #18ba9b !important;
}

#portfolio-wrap .portfolio-item a .hover-items span em.lead {
    color: #f37820;
    font-family: myfont;
    font-size: 30px;
    text-transform: capitalize;
}

.col-md-3 .item_left {
    overflow: hidden;
}

.footer-v1 {
    margin-top: 20px;
}

h1.productname {
    color: #f25c27;
    font-size: 26px;
    margin: 10px 0 20px 0;
    background: none;
    font-family: myfont;
    font-size: 50px;
}

.productprice {
    margin: 0 0 0 0;
    clear: both;
}

.productpageprice {
    width: 250px;
    height: 65px;
    background: url(../images/pricetagproduct.png) no-repeat right 0;
    position: relative;
    padding: 9px 0 9px 20px;
    margin: 45px 0 10px -28px;
    font-size: 36px;
    text-align: center;
    line-height: 44px;
    color: #333;
}

.productpageoldprice {
    font-size: 24px;
    text-decoration: line-through;
    margin-left: 0px;
}

.productprice .rate {
    margin: 25px 0 0 0;
}

ul.rate li.on {
    background-position: left top;
}

ul.rate li {
    height: 20px;
    width: 20px;
    background: url(../images/rate.png) no-repeat scroll 0 0 transparent;
    display: inline-block;
    margin-right: 5px;
}

ul.productpagecart {
    margin-top: 20px;
    margin-left: 0px;
    display: inline-block;
}

ul.productpagecart li {
    display: inline-block;
    margin-right: 10px;
    height: 66px;
}

.productpagecart li a.cart {
    background-position: 10px 12px;
}

.productpagecart a {
    background: #F25C27;
    color: #fff;
    padding: 15px 15px 15px 60px;
    font-size: 18px;
}

.productpageprice .spiral {
    position: absolute;
    top: -19px;
    left: 25px;
    background: url(../images/spiral.png) no-repeat right 0;
    height: 50px;
    width: 35px;
}

.productdesc {
    margin: 22px 0 0 0;
}

#myTab {
}

.nav-tabs {
    margin: 0px;
}

.nav-tabs {
}

.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
    display: table;
    line-height: 0;
    content: "";
}

.productdesc .nav-tabs li.active {
    border-bottom: 1px solid #fff;
}

.nav-tabs > li {
    margin-bottom: -1px;
}



.productdesc #myTab.nav-tabs li a {
    margin: 0px !important;
}

.productdesc .nav-tabs li.active a {
    color: #fff;
    background-color: #4966b6;
}

.productdesc .nav-tabs li a {
    font-size: 13px;
}

.productdesc .nav-tabs > li > a:hover {
    background: #4966b6;
    border-color: #4966b6;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs > li > a, .nav-pills > li > a {
    margin: 2px 5px 2px 6px;
}

.nav-tabs > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a, .nav-pills > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}

.nav > li > a {
    display: block;
}

.tab-content {
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7;
    border-radius: 3px 3px 3px 3px;
    padding: 15px;
}

.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: none;
}

.tab-content > .active, .pill-content > .active {
    display: block;
}

.product_detail {
    margin-top: 20px;
}

.heading1 .maintext {
    font-size: 18px;
    color: #5e626b;
    text-transform: uppercase;
    padding: 0px 14px 4px 0;
}

.heading1 .subtext {
    font-size: 16px;
    color: #96979d;
    text-transform: none;
    font-weight: normal;
    padding: 0px;
}

@media (min-width: 1200px) {
    .thumbnails {
        margin-left: -30px;
    }
}

.thumbnails {
    margin-left: -20px;
    list-style: none;
}

@media (min-width: 1200px) {
    .thumbnails > li {
        margin-left: 30px;
    }
}

.thumbnails > li {
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

@media (min-width: 1200px) {
    .span3 {
        width: 270px;
    }
}

@media (min-width: 1200px) {
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 30px;
    }
}

.span3 {
    width: 220px;
}
.thumbnails .prdocutname {
    font-size: 16px;
    color: #5e626b;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 10px 0;
    display: block;
}
#featured .thumbnails li .thumbnail, #latest .thumbnails li .thumbnail, #related .thumbnails li .thumbnail, #category .thumbnails li .thumbnail, .thumbnails.list li .thumbnail {
    overflow: hidden;
}
.thumbnail {
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.thumbnail {
    position: relative;
    padding: 0px;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#featured .thumbnails li .thumbnail img, #latest .thumbnails li .thumbnail img, #related .thumbnails li .thumbnail img, #category .thumbnails li .thumbnail img, .thumbnails.list li .thumbnail img {
    transition: all 0.8s;
    -ms-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
}

.image_product img{max-width: 100%; max-height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 10px auto;
    display: block;
    min-height: 500px;
    width: 400px;
    border: 1px solid #ccc;
    padding:1px;

}
.image_product {
    float: left;
    margin-right: 20px;
    margin-left: 10px;
}

.product_detail{position: relative; border: 1px solid #ccc; min-height: 525px;}
.product_content {margin-left: 10px; padding-bottom: 10px;}
.hotline{color:#F37820; margin-top: 15px;margin-bottom: -10px;}
.hotline i.fa-phone{color:#F37820; margin-right: 2px;}
.hotline span {font-size: 31px;
    font-family: myfont;
    font-weight: bold;
    color: red;}

.product_title {margin-top: 5px; text-align: center; font-family: myfont;
    color: #F37820; font-size: 30px; line-height: 30px; font-weight: bold;}

#portfolio-wrap .portfolio-item img {
    border:1px solid #ccc;
    padding: 1px;
}


.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    margin-bottom: 15px;
}

th {
    color:#D5DDE5;;
    background:#313E67;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-weight: bold;
    padding:12px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
    font-size: 15px;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:14px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
    border-bottom: 1px solid #22262e;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr:nth-child(odd):hover td {
    background:#4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {
    background:#FFFFFF;
    padding:10px;
    text-align:left;
    vertical-align:bottom;
    font-weight:300;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
    font-size: 14px;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}